* {
  overflow: none;
}

html {
  margin: 0;
  padding: 0;
}

body {
  size: *;
  margin: 0;
  padding: 0;
}

.container {
  size: *;
  font: system;
  flow: vertical;
  background: #eee;
  border-spacing: 5dip;
  padding: 5dip;
}

div.row {
  border-spacing: 5dip;
  flow: horizontal;
  justify-content: space-between;
  text-align: center;
}

.row-img {
  height: *;
}

div.buttons {
  height: max-content;
}

div.filler {
  width: *;
}

button {
  width: *;
  height: 2em;
}

.img {
  size: *;
}

img {
  foreground-repeat: stretch keep-ratio;
  foreground-position: 50% 50%;
  foreground-size: contain;
  cursor: crosshair;
  max-width: calc(100vw - 10dip);
  max-height: calc(100vh - (39dip + 2em));
}